---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro'
import Section from '../components/Section.astro'
import ModelY from '../components/ModelY.astro'
import Model3 from '../components/Model3.astro'
import ModelS from '../components/ModelS.astro'
import ModelX from '../components/ModelX.astro'
import Powerwall from '../components/Powerwall.astro'
---

<Layout title="Tesla - El coche de tus sueños">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-">
		<div class="snap-center">
			<Section
				title="Disfrute de Tesla"
				subtitle="Programe una prueba de conducción hoy mismo"
				color="white"
			>
			<div slot="footer">
			<a 
                href="" 
                class={`border-[3px] border-white bg-white/5 backdrop-blur text-sm rounded 
                font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black 
                transition-colors`}>
                Prueba de conducción
            </a></div>
			<video
				autoplay 
				slot="background"
				muted 
				loop 
				src="/video.webm" 
				class="object-center object-cover h-full w-full"></video>
			</Section>
		</div>
		<div class="snap-center">
			<ModelS />
		</div>
		<div class="snap-center">
			<Model3 />
		</div>
		<div class="snap-center">
			<ModelX />
		</div>
		<div class="snap-center">
			<ModelY />
		</div>
		<div class="snap-center">
			<Powerwall />
		</div>
	</main>
</Layout>
