---
import Section from './Section.astro'
---

<Section
    title="Cargador"
    color="black"
    id="model-y"
>

<div slot="footer" class="gap-x-6 flex mx-auto">
    <a
        class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
        href="#"
    >
        Comprar ahora</a
    >
</div>

<img
    slot="background"
    alt="Powerwall"
    class="h-full w-full object-cover object-center bg-image"
    src="powerwall.avif"
    id="bg-image-modely"
/>

</Section>    